@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Color Schemes */
:root {
  color-scheme: light dark;
  --color-bg: #F2F0EF;
  --color-profile-border: #F2F0EF;

  --color-text-main: #212326;
  --color-text-secondary: #212326;
  --color-ring-hover: #323841;
}

:root.dark {
  --color-bg: #212326;
  --color-profile-border: #212326;
  
  --color-text-main: #F2F0EF;
  --color-text-secondary: #F2F0EF;
  --color-ring-hover: #323841;

}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
