---
import type { PageData } from '../data/links'
import ProfileCard from '../components/ProfileCard.astro'
import SocialButtons from '../components/SocialButtons.astro'
import LinkCard from '../components/LinkCard.astro'

import '../styles/global.css'

interface Props { page: PageData }
const { page } = Astro.props
---

<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{page.name}</title>
    <link rel="icon" href="/favicon.ico" />
    </head>

    <body>
        <ProfileCard profile_data={page}/>
        <SocialButtons social_links={page.social_links} />
        <LinkCard cards={page.cards} />
    </body>
</html>